<div id="landing">
    <div class="hero h-100 d-flex flex-column justify-content-center">
        <div class="container text-center text-white">
            <h2 class="display-4">Make Your Event Come True</h2>
            <h4 class="lead">Share experiences with your friends</h4>
            <input type="search" placeholder="Search..." name="" id="">
        </div>
    </div>
</div>