<div class="container">
    <div class="row mb-5">
        <div class="col-12 pb-3"><h3 class="section-head">Events by Categories</h3></div>
        <div class="col-sm-12 col-md-5 col-lg-4 py-3">
            <a href="/search?category=concerts">
                <div id="event-cat-1" class="event-cat"><span>Concerts</span></div>
            </a>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-4 py-3">
            <a href="/search?category=sports">
                <div id="event-cat-2" class="event-cat"><span>Sports</span></div>
            </a>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-4 py-3">
            <a href="/search?category=theater">
                <div id="event-cat-3" class="event-cat"><span>Theaters</span></div>
            </a>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-4 py-3">
            <a href="/search?category=parties">
                <div id="event-cat-4" class="event-cat"><span>Parties</span></div>
            </a>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-4 py-3">
            <a href="/search?category=communities">
                <div id="event-cat-5" class="event-cat"><span>Communities</span></div>
            </a>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-4 py-3">
            <a href="/search?category=classes">
                <div id="event-cat-6" class="event-cat"><span>Classes</span></div>
            </a>
        </div>
    </div>
</div>