<div id="search-section">
    <div class="hero h-100 d-flex flex-column align-content-center justify-content-center">
        <div class="container text-center text-white">
            <% if (page === "/search") { %>
                <h2 class="display-4"> Find Your Event </h2>
            <% } else if (page === "/event/add") { %>    
                <h2 class="display-4"> Create Your Event </h2>
            <% } %>

        </div>
    </div>
</div>