<div id="signup-call-to-action"  class="container-fluid">
    <div class="container">
        <div class="row">   
            <div class="col-md-6 col-sm-12">
                    <h3 class="section-head">Are you ready to get started?</h3>
                    <blockquote class="blockquote">Create an account, or get in touch.</blockquote>
            </div>
            <div class="col-md-6 col-sm-12 d-flex align-items-center">
                <div class="mx-auto">
                    <a href="/register">
                        <button class="signup-cta-btn"> Join evntR.io </button>
                    </a>
                    <button class="signup-cta-btn-opp ml-3"> Contact us </button>
                </div>
            </div>
        </div>
    </div>
</div>