<div id="foot-nav">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h1 class="m-0 p-0 evntr_logo">evntR.io</h1>
                <a href="/register">
                    <button class="signup-cta-btn-opp mt-3">Join evntR.io</button>
                </a>
            </div>
            <div class="col-md-3">
                <h6>Navigation</h6>
                <ul>
                    <li>Home</li>
                    <li>Upcoming Events</li>
                    <li>Popular Events</li>
                    <li>Categories</li>
                </ul>
            </div>
            <div class="col-md-3">                
                <h6>Contact</h6>
                <ul>
                    <li>info@eventr.io</li>
                    <li>Call 1300-EVE-NTR</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6>Social</h6>
                <ul>
                    <li>Facebook</li>
                    <li>Instagram</li>
                    <li>Twitter</li>
                </ul>
            </div>
        </div>
    </div>
</div>

    