<div id="search-form">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <input id="name" type="text">
            </div>
            <div class="col-md-4">
                <input id="category" type="text">
                <input id="limit" type="text">
            </div>
            <div class="col-md-4">
                <button class="p-btn">Open Event</button>
            </div>
        </div>
    </div>
</div>