<%- include partials/main/header.ejs %>
    <%- include partials/main/nav.ejs %>

        <div id="evntr_header" class=" mt-5 d-flex align-items-center" method="GET">
            <div class="container">

                <form class="form-signin" action="/addEvent/*" type="PUT">
                    <h2 class="form-signin-heading text-center">Add Event</h2>

                    <br>
                    <label for="inputLocationCity" class="sr-only">Location (City)</label>
                    <input type="text" id="inputLocationCity" class="form-control" placeholder="Location (City)" required>
                    <br>

                    <label for="inputEventName" class="sr-only">Event Name</label>
                    <input type="text" id="inputEventName" class="form-control" placeholder="Event Name" required>

                    <br>
                    <label for="inputEventOverview" class="sr-only">Event Name</label>
                    <textarea type="text" id="inputEventOverview" class="form-control" placeholder="Insert Details..." required></textarea>

                    <br>
                    <label for="inputPoserURL" class="sr-only">Poster URL</label>
                    <input type="text" id="inputPoserURL" class="form-control" placeholder="Poster URL" required></input>

                    <br>
                    <button class="btn btn-lg btn-outline-primary btn-block" type="submit">Submit Event</button>

                </form>

                <a href="/">
                    <button class="btn btn-lg btn-outline-dark btn-block">Return Home</button>
                </a>
            </div>

        </div>
        </div>

        <%- include partials/main/footer.ejs %>