<%- include partials/main/header.ejs %>
    <%- include partials/main/nav.ejs %>

        <div id="evntr_header" class=" mt-5">
            <div class="container">

                <form class="form-addEvent" name="006" action="/addEvent/submit" method="post">
                    <h2 class="form-addEvent-heading text-center">Add Event</h2>

                    <br>
                    <input type="text" id="inputEventName" class="form-control" name="city" placeholder="Event Name" required>

                    <br>
                    <div class="form-inline w-100">
                        <input type="text" id="inputLocationCity" class="form-control col" name="name" placeholder="Location (City)" required>
                        <input type="text" id="inputLocationState" class="form-control mx-2 col" name="state" placeholder="Location (State)" required>
                        <input type="text" id="inputLocationStreetNumber" class="form-control col" name="streetNumber" placeholder="Street Number, Name & Type"
                            required>
                    </div>

                    <br>
                    <input type="text" id="inputEventDate" class="form-control" name="eventDate" placeholder="DD/MM/YYYY" required>

                    <br>
                    <textarea type="text" id="inputEventOverview" class="form-control" name="shortOverview" placeholder="Insert Details..." required></textarea>

                    <br>
                    <input type="text" id="inputPoserURL" class="form-control" name="picture" placeholder="Poster URL" required></input>

                    <br>
                    <button class="btn btn-lg btn-outline-primary btn-block" type="submit">Submit Event</button>
                </form>

                <a href="/">
                    <button class="btn btn-lg btn-outline-dark btn-block">Return Home</button>
                </a>
            </div>

        </div>
        </div>

        <%- include partials/main/footer.ejs %>