<%- include partials/main/header.ejs %>
    <%- include partials/main/nav.ejs %>

        <div class="jumbotron">
            <%- include partials/dynamic/eventIndividual.ejs %>
        </div>

        <%- include partials/main/footer.ejs %>