<%- include partials/main/header.ejs %>

    <div id="landing_main" class="d-flex justify-content-center align-items-center">
        <div id="landing_calltoaction" class="text-white text-center">
            <h1 class="display-3">
                yelp/Skate
            </h1>
            <br>
            <a href="/home">
                <button class="btn btn-outline-light btn-lg">
                    <h3 class="pb-1 m-0">ENTER</h3>
                </button>
            </a>
        </div>
    </div>

    <%- include partials/main/footer.ejs %>