<%- include partials/main/header.ejs %>

    <div id="landing_main" class="">
        <div id="asc_container" class="row m-0 w-100">
            <div id="asc_demo" class="p-0 col-md-4 d-flex justify-content-center align-items-center">
                <div class="asc_calltoaction text-white text-center">
                    <h2 class="display-4">
                        Demos
                    </h2>
                    <br>
                    <a href="/home">
                        <button class="btn btn-outline-light btn-md">
                            <h3 class="pb-1 m-0">ENTER</h3>
                        </button>
                    </a>
                </div>
            </div>
            <div id="asc_comp" class="p-0 col-md-4 d-flex justify-content-center align-items-center">
                <div class="asc_calltoaction text-white text-center">
                    <h2 class="display-4">
                        Competitions
                    </h2>
                    <br>
                    <a href="/home">
                        <button class="btn btn-outline-light btn-md">
                            <h3 class="pb-1 m-0">ENTER</h3>
                        </button>
                    </a>
                </div>
            </div>
            <div id="asc_less" class="p-0 col-md-4 d-flex justify-content-center align-items-center">
                <div class="asc_calltoaction text-white text-center">
                    <h2 class="display-4">
                        Lessons
                    </h2>
                    <br>
                    <a href="/home">
                        <button class="btn btn-outline-light btn-md">
                            <h3 class="pb-1 m-0">ENTER</h3>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </body>

    </html>