<%- include partials/main/header.ejs %>
    <%- include partials/main/nav.ejs %>

        <div class="jumbotron">
            <div class="container text-center">
                <h1>Register</h1>
                <a href="/home">
                    <button class="btn btn-large btn-outline-dark">Return Home</button>
                </a>
            </div>
        </div>

        <%- include partials/main/footer.ejs %>