body,
html {
  padding: 0;
  margin: 0;
  min-height: 100% !important;
  height: 100%;
  width:100%;
}

nav {
  position:absolute!important;
  top: 0;
}

footer {
  background-color: #e9ecef;
  position: absolute;
  bottom: 0;
}

input:focus {
  outline: none;
}

footer a {
  color: inherit;
}

a {
  text-decoration-line: none !important;
}

ul, li{
  margin:0;
  padding:0;
  list-style-type: none;
}


.bg-orange {
  background-color: #fd7e14;
}

.text-orange{
  color: #fd7e14;
}

.evntr_logo {
  font-family: "Pacifico", cursive;
}

.evntr_drk_btn {
  width: 100px;
  background: none;
  color: #e9ecef;
  border: 1px solid #fd7e14;
  border-radius: 5em;
  cursor: pointer;
  transition: all 0.25s;
}

.evntr_drk_btn:hover {
  background: #fd7e14;;
  border: 1px solid #fd7e14;
}

.evntr_opp_btn {
  width: 100px;
  background: #fd7e14;
  color: #e9ecef;
  border: 1px solid #fd7e14;
  border-radius: 5em;
  cursor: pointer;
  transition: all 0.25s;
}

.evntr_opp_btn:hover {
  border: 1px solid #c05f0f;
  background: #c05f0f;
}

#landing {
  position: relative;
  top:0;
  height: 100vh;
  background-image: url('../images/landing_bg.jpeg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

#landing .hero div {
  z-index: 100;
}

#landing .hero input {
  margin-top: 1em;
  height: 2.4em;
  width: 15em;
  border: 2px solid #e9ecefaf;
  font-size: 1.3em;
  color: #e9ecefaf;
  padding-left: 1em;
  background: #e9ecef31;
  border-radius: 5em;
  transition: all 0.25s;
}

#landing .hero input:focus {
  border: 2px solid #e9ecef;
  color: #e9ecef;
}

#landing .hero input::placeholder {
  color: #e9ecefaf
}

#landing::after {
  content: "";
  top: 0; right: 0; left: 0;  bottom: 0;
  position: absolute;
  z-index: 50;
  background: linear-gradient(140deg, rgba(191, 46, 169, 0.767) 0%, rgba(221, 40, 58, 0.747) 80%);
}

#upcoming_sum, #statistics {
  padding: 5em 0 ;
  background-color: rgba(0, 0, 0, 0.897);
  color: #e9ecef;
}

.section-head::after{
  content: "";
  top:5px;
  left:-10px;
  position: absolute;
  width: 5px;
  height: 30px;
  background: #fd7e14;
}

.upcoming_sum_head {
  text-transform: uppercase;
  font-size: 1.1em;
  margin: 0;
}

.upcoming_sum_sub {
  font-size: 0.8em;
  margin: 0;
  padding-bottom: 8px;
}

#upcoming_event {
  padding: 5em 0 ;
  background-color: rgba(255, 255, 255, 0.897);
  color: #1d1d1d;
}

.event-card {
  position: relative;
  min-width: 15em;
  height: 15em;
  background-repeat: no-repeat;
  background-size: 115%;
  padding: 0!important;
}

.event-card::before {
  content: "";
  top: 0; right: 0; left: 0;  bottom: 0;
  position: absolute;
  z-index: 25;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.767) 0%, rgba(0, 0, 0, 0) 25%);
}

.upcoming_event_head {
  text-align: center;
  width: 4em;
  position: relative;
  color: white;
  background: black;
  text-transform: uppercase;
  font-size: 1.1em;
  padding: 0.5em;
  margin: 0;
  margin-left: 1em;
  background-size: cover;
  background-position: center;
}

.upcoming_event_sub {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  font-size: 0.8em;
  z-index: 50;
  padding: 0 1em;
  color: #e9ecef;
}

.event-card button {
  position: absolute;
  z-index: 50;
  bottom: 1em;
  right: 1em;
}

.event-cat {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  height: 10em;
  padding: 0!important;
  color: white;
  cursor: pointer;
  background-size: 110%;
  background-position: center;
  background-repeat: none;
  transition: all 0.25s;
}

.event-cat:hover {
  background-size: 115%;
  opacity: 0.9;
}

.event-cat span{
  z-index: 50;
  font-weight: bold;
}

#event-cat-1{
  background-image: url('https://images.pexels.com/photos/196652/pexels-photo-196652.jpeg?auto=compress&cs=tinysrgb&h=350');
}

#event-cat-1::after {
  content: "";
  top: 0; right: 0; left: 0;  bottom: 0;
  position: absolute;
  z-index: 25;
  background: linear-gradient(80deg, rgba(27, 119, 31, 0.767) 0%, rgba(22, 155, 29, 0.377) 100%);
}

#event-cat-2{
  background-image: url('https://images.pexels.com/photos/248547/pexels-photo-248547.jpeg?auto=compress&cs=tinysrgb&h=350');  
}

#event-cat-2::after {
  content: "";
  top: 0; right: 0; left: 0;  bottom: 0;
  position: absolute;
  z-index: 25;
  background: linear-gradient(80deg, rgb(119, 27, 27) 0%, rgba(119, 27, 27, 0.719) 100%);
}

#event-cat-3{
  background-image: url('https://images.pexels.com/photos/45258/ballet-production-performance-don-quixote-45258.jpeg?auto=compress&cs=tinysrgb&h=350');  
}

#event-cat-3::after {
  content: "";
  top: 0; right: 0; left: 0;  bottom: 0;
  position: absolute;
  z-index: 25;
  background: linear-gradient(80deg, rgba(77, 4, 67, 0.788) 0%, rgba(77, 4, 67, 0.425) 100%);
}


#event-cat-4{
  background-image: url('https://images.pexels.com/photos/160420/photo-booth-wedding-party-girls-160420.jpeg?auto=compress&cs=tinysrgb&h=350');  
}

#event-cat-4::after {
  content: "";
  top: 0; right: 0; left: 0;  bottom: 0;
  position: absolute;
  z-index: 25;
  background: linear-gradient(80deg, rgba(197, 147, 8, 0.884) 0%, rgba(197, 147, 8, 0.425) 100%);
}

#event-cat-5{
  background-image: url('https://images.pexels.com/photos/159935/pexels-photo-159935.jpeg?auto=compress&cs=tinysrgb&h=350');  
}

#event-cat-5::after {
  content: "";
  top: 0; right: 0; left: 0;  bottom: 0;
  position: absolute;
  z-index: 25;
  background: linear-gradient(80deg, rgba(8, 84, 197, 0.884) 0%, rgba(8, 84, 197, 0.425) 100%);
}

#event-cat-6{
  background-image: url('https://images.pexels.com/photos/7102/notes-macbook-study-conference.jpg?auto=compress&cs=tinysrgb&h=350');  
}

#event-cat-6::after {
  content: "";
  top: 0; right: 0; left: 0;  bottom: 0;
  position: absolute;
  z-index: 25;
  background: linear-gradient(80deg, rgba(223, 16, 212, 0.884) 0%, rgba(223, 16, 212, 0.425) 100%);
}

#statistics{
  display: flex;
  align-items: center;
}

#statistics hr {
  background: #e9ecef;
  width: 3em;
}

#signup-call-to-action {
  margin: 5em 0;
}

.signup-cta-btn {
  background: #fd7e14;
  padding: 5px 15px;
  color: #e9ecef;
  border: 1px solid #fd7e14;
  border-radius: 5em;
  cursor: pointer;
  transition: all 0.25s;
}

.signup-cta-btn:hover {
    border: 1px solid #c05f0f;
    background: #c05f0f;
}

.signup-cta-btn-opp {
  background: rgba(255, 255, 255, 0);
  padding: 5px 15px;
  color: #fd7e14;
  border: 1px solid #fd7e14;
  border-radius: 5em;
  cursor: pointer;
  transition: all 0.25s;
}

.signup-cta-btn-opp:hover {
    border: 1px solid #c05f0f;
    color: #fff;
    background: #c05f0f;
}

#foot-nav{
  padding: 4em 0;
  color: #fff;
  background:rgba(0, 0, 0, 0.897);
}

#foot-nav h6 {
  margin-bottom: 1em;
}

#foot-nav li {
  cursor: pointer;
  transition: all 0.25s;
}

#foot-nav li:hover {
  color: #fd7e14;
}