body,
html {
  padding: 0;
  margin: 0;
  min-height: 100% !important;
  height: 100%;
}

nav {
  position: absolute;
  top: 0;
}

footer {
  background-color: #e9ecef;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer a {
  color: inherit;
}

a {
  padding: 0 !important;
  margin: 0 !important;
  text-decoration-line: none !important;
}

.orange-bg {
  background-color: #fd7e14;
}

.evntr_logo {
  font-family: "Pacifico", cursive;
}

.card-img-top {
  height: 250px;
  object-fit: cover;
}

.asc_card {
  border-radius: 0;
  flex: 1 !important;
  min-height: 30em !important;
}

.container-btn {
  width: 5em;
}

.evntr_btn,
.evntr_btn a,
.evntr_btn:focus,
.evntr_btn:active {
  padding: 1em !important;
  text-decoration-line: none !important;
  color: white !important;
  transition: border-bottom 0.25s;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.evntr_btn:hover {
  border-bottom: 2px solid rgba(255, 255, 255, 0.75);
}

.evntr_card {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  height: 25em;
  padding: 0;
  cursor: pointer;
  z-index: 100;
}

.evntr_card_date {
  position: relative;
  top: 0;
  left: 0;
  display: table-cell;
  padding: 4px;
  margin: 0;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  transition: background-color 0.5s;
  border-bottom-right-radius: 1em;
  z-index: 110;
}

.evntr_card_info {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 4px;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  transition: background-color 0.5s;
  z-index: 110;
}

.evntr_img_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.evntr_link_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 130;
}

.evntr_card:hover .evntr_card_date,
.evntr_card:hover .evntr_card_info {
  background-color: rgba(253, 126, 20, 1);
}

.evntr_card::after {
  content: "";
  padding-top: 50%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
  position: absolute;
  background: rgba(0, 0, 0, 0);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  transition: background 0.25s;
}

.evntr_card:hover:after {
  background: rgba(0, 0, 0, 0.35);
}

#evntr_container {
  min-height: 100%;
  position: relative;
  display: block;
  padding-bottom: 100px;
}

#login_container,
#register_container {
  margin: auto auto auto auto;
  width: 25em;
}

#evntr_header {
  height: 35em;
}

#inputEventOverview {
  height: 10em;
}
