body,
html {
  padding: 0;
  margin: 0;
  width:100%;
  min-height: 100%;
  height: 100%;
  position: relative;
}

nav {
  position:absolute!important;
  top: 0;
}

#navbarDropdownMenuLink::first-letter {
  text-transform: uppercase;
}

.nav-link {
  color: rgba(255,255,255,1)!important;
  transition: all 0.25s;
}

.nav-link:hover {
  color: rgba(255,255,255,0.75)!important;
}

footer {
  background-color: #e9ecef;
  position: absolute;
  bottom: 0;
}

input:focus {
  outline: none;
}

footer a {
  color: inherit;
}

a {
  text-decoration-line: none !important;
}

ul, li{
  margin:0;
  padding:0;
  list-style-type: none;
}


.bg-orange {
  background-color: #fd7e14;
}

.text-orange{
  color: #fd7e14;
}

.evntr_logo {
  font-family: "Pacifico", cursive;
}

.evntr_drk_btn {
  width: 100px;
  background: none;
  color: #e9ecef;
  border: 1px solid #fd7e14;
  border-radius: 5em;
  cursor: pointer;
  transition: all 0.25s;
}

.evntr_drk_btn:hover {
  background: #fd7e14;;
  border: 1px solid #fd7e14;
}

.evntr_opp_btn {
  width: 100px;
  background: #fd7e14;
  color: #e9ecef;
  border: 1px solid #fd7e14;
  border-radius: 5em;
  cursor: pointer;
  transition: all 0.25s;
}

.evntr_opp_btn:hover {
  border: 1px solid #c05f0f;
  background: #c05f0f;
}

#landing {
  position: relative;
  top:0;
  height: 100vh;
  background-image: url('../images/landing_bg.jpeg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

#landing .hero div {
  z-index: 100;
}

#landing .hero input {
  margin-top: 1em;
  height: 2.4em;
  width: 15em;
  border: 2px solid #e9ecefaf;
  font-size: 1.3em;
  color: #e9ecefaf;
  padding-left: 1em;
  background: #e9ecef31;
  border-radius: 5em;
  transition: all 0.25s;
}

#landing .hero input:focus {
  border: 2px solid #e9ecef;
  color: #e9ecef;
}

#landing .hero input::placeholder {
  color: #e9ecefaf
}

#landing::after {
  content: "";
  top: 0; right: 0; left: 0;  bottom: 0;
  position: absolute;
  z-index: 50;
  background: linear-gradient(140deg, rgba(191, 46, 169, 0.767) 0%, rgba(221, 40, 58, 0.747) 80%);
}

#upcoming_sum, #statistics {
  padding: 5em 0 ;
  background-color: rgba(0, 0, 0, 0.897);
  color: #e9ecef;
}

.section-head::after{
  content: "";
  top:5px;
  left:-10px;
  position: absolute;
  width: 5px;
  height: 30px;
  background: #fd7e14;
}

.upcoming_sum_head {
  text-transform: uppercase;
  font-size: 1.1em;
  margin: 0;
}

.upcoming_sum_sub {
  font-size: 0.8em;
  margin: 0;
  padding-bottom: 8px;
}

#upcoming_event {
  padding: 5em 0 ;
  background-color: rgba(255, 255, 255, 0.897);
  color: #1d1d1d;
}

.event-card {
  position: relative;
  min-width: 15em;
  height: 15em;
  background-repeat: no-repeat;
  background-size: 115%;
  background-position: center;
  padding: 0!important;
  transition: all 0.25s;
}

.event-card:hover {
  background-size: 120%;
}

.event-card::before {
  content: "";
  top: 0; right: 0; left: 0;  bottom: 0;
  position: absolute;
  z-index: 25;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.87) 0%, rgba(0, 0, 0, 0) 35%);
}

.upcoming_event_head {
  text-align: center;
  width: 4em;
  position: relative;
  color: white;
  background: black;
  text-transform: uppercase;
  font-size: 1.1em;
  padding: 0.5em;
  margin: 0;
  margin-left: 1em;
  background-size: cover;
  background-position: center;
}

.upcoming_event_sub {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  font-size: 0.8em;
  z-index: 50;
  padding: 0 1em;
  color: #e9ecef;
}

.event-card button {
  position: absolute;
  z-index: 50;
  bottom: 1em;
  right: 1em;
}

.event-cat {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  height: 10em;
  padding: 0!important;
  color: white;
  cursor: pointer;
  background-size: 110%;
  background-position: center;
  background-repeat: none;
  transition: all 0.25s;
}

.event-cat:hover {
  background-size: 115%;
  opacity: 0.9;
}

.event-cat span{
  z-index: 50;
  font-weight: bold;
}

#event-cat-1{
  background-image: url('https://images.pexels.com/photos/196652/pexels-photo-196652.jpeg?auto=compress&cs=tinysrgb&h=350');
}

#event-cat-1::after {
  content: "";
  top: 0; right: 0; left: 0;  bottom: 0;
  position: absolute;
  z-index: 25;
  background: linear-gradient(80deg, rgba(27, 119, 31, 0.767) 0%, rgba(22, 155, 29, 0.377) 100%);
}

#event-cat-2{
  background-image: url('https://images.pexels.com/photos/248547/pexels-photo-248547.jpeg?auto=compress&cs=tinysrgb&h=350');  
}

#event-cat-2::after {
  content: "";
  top: 0; right: 0; left: 0;  bottom: 0;
  position: absolute;
  z-index: 25;
  background: linear-gradient(80deg, rgb(119, 27, 27) 0%, rgba(119, 27, 27, 0.719) 100%);
}

#event-cat-3{
  background-image: url('https://images.pexels.com/photos/45258/ballet-production-performance-don-quixote-45258.jpeg?auto=compress&cs=tinysrgb&h=350');  
}

#event-cat-3::after {
  content: "";
  top: 0; right: 0; left: 0;  bottom: 0;
  position: absolute;
  z-index: 25;
  background: linear-gradient(80deg, rgba(77, 4, 67, 0.788) 0%, rgba(77, 4, 67, 0.425) 100%);
}


#event-cat-4{
  background-image: url('https://images.pexels.com/photos/160420/photo-booth-wedding-party-girls-160420.jpeg?auto=compress&cs=tinysrgb&h=350');  
}

#event-cat-4::after {
  content: "";
  top: 0; right: 0; left: 0;  bottom: 0;
  position: absolute;
  z-index: 25;
  background: linear-gradient(80deg, rgba(197, 147, 8, 0.884) 0%, rgba(197, 147, 8, 0.425) 100%);
}

#event-cat-5{
  background-image: url('https://images.pexels.com/photos/159935/pexels-photo-159935.jpeg?auto=compress&cs=tinysrgb&h=350');  
}

#event-cat-5::after {
  content: "";
  top: 0; right: 0; left: 0;  bottom: 0;
  position: absolute;
  z-index: 25;
  background: linear-gradient(80deg, rgba(8, 84, 197, 0.884) 0%, rgba(8, 84, 197, 0.425) 100%);
}

#event-cat-6{
  background-image: url('https://images.pexels.com/photos/7102/notes-macbook-study-conference.jpg?auto=compress&cs=tinysrgb&h=350');  
}

#event-cat-6::after {
  content: "";
  top: 0; right: 0; left: 0;  bottom: 0;
  position: absolute;
  z-index: 25;
  background: linear-gradient(80deg, rgba(223, 16, 212, 0.884) 0%, rgba(223, 16, 212, 0.425) 100%);
}

#statistics{
  display: flex;
  align-items: center;
}

#statistics hr {
  background: #e9ecef;
  width: 3em;
}

#signup-call-to-action {
  margin: 5em 0;
}

.signup-cta-btn {
  background: #fd7e14;
  padding: 5px 15px;
  color: #fff;
  border: 1px solid #fd7e14;
  border-radius: 5em;
  cursor: pointer;
  transition: all 0.25s;
}

.signup-cta-btn:hover {
    border: 1px solid #c05f0f;
    background: #c05f0f;
}

.signup-cta-btn-opp {
  background: rgba(255, 255, 255, 0);
  padding: 5px 15px;
  color: #fd7e14;
  border: 1px solid #fd7e14;
  border-radius: 5em;
  cursor: pointer;
  transition: all 0.25s;
}

.signup-cta-btn-opp:hover {
    border: 1px solid #c05f0f;
    color: #fff;
    background: #c05f0f;
}

#foot-nav{
  padding: 4em 0;
  color: #fff;
  background:rgba(0, 0, 0, 0.897);
}

#foot-nav h6 {
  margin-bottom: 1em;
}

#foot-nav li {
  cursor: pointer;
  transition: all 0.25s;
}

#foot-nav li:hover {
  color: #fd7e14;
}

/* Login Section */

/* Login Section */
#login_section{
  min-height: 10em;
  width: 18em;
  justify-content: center;
}

  #login_img{
    margin-left: auto;
    margin-right: auto;
  }
  
  #login_img img{
    max-width: 150px;
  }

  #login_section p{
    color: rgb(108, 120, 136);
    margin: 0.7em 0 0.4em 0;
    opacity: 0.9;
    font-size: 0.85em;
  }

  #login_section input{
    min-width: 100%;
    border-radius: 4px;
    height: 2.4em;
    padding-left: 0.5em;
    outline: none;
    border: 1px solid lightsteelblue;
    transition: all 0.25s;
  }

  #login_section input:focus{
    border: 2px solid #fd7e14;
  }

  .p-btn{
    margin: 1.7em auto;
    width: 10em;
    height: 2.4em;
    border: 1px solid #fd7e14;
    border-radius: 5em;
    color: #fd7e14;
    background: none;
    cursor: pointer;
    transition: all 0.25s;
    z-index: 1;
  }

  .p-btn-nav{
    margin: 0 auto;
    width: 5em;
    height: 2em;
    border: 1px solid #fd7e14;
    border-radius: 5em;
    color: #fd7e14;
    background: none;
    cursor: pointer;
    transition: all 0.25s;
    z-index: 1;
  }

    .p-btn:hover, .p-btn-nav:hover{
      background: #fd7e14;
      color: #fff;
    }

    #login_section a{
      margin: 0 auto;
      color: #fd7e14;
    }

    #alert {
      font-size: 0.8em;
    }


    /* Search Section */

    #search-section {
      position: relative;
      top:0;
      height: 750px;
      background-image: url('https://source.unsplash.com/1600x900/?sport,concert');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    
    #search-section .hero div {
      z-index: 100;
    }
    
    #search-section .hero input {
      margin-top: 1em;
      height: 2.4em;
      width: 15em;
      border: 2px solid #e9ecefaf;
      font-size: 1.3em;
      color: #e9ecefaf;
      padding-left: 1em;
      background: #e9ecef31;
      border-radius: 5em;
      transition: all 0.25s;
    }
    
    #search-section .hero input:focus {
      border: 2px solid #e9ecef;
      color: #e9ecef;
    }
    
    #search-section .hero input::placeholder {
      color: #e9ecefaf
    }
    
    #search-section::after {
      content: "";
      top: 0; right: 0; left: 0;  bottom: 0;
      position: absolute;
      z-index: 50;
      background: linear-gradient(140deg, rgba(191, 46, 169, 0.767) 0%, rgba(221, 40, 58, 0.747) 80%);
    }

    #search{
      background: #f8f8f8;
    }

    .search-card {
      background: #fff;
      border: 0px solid black;
      padding: 1em;
      margin: 0.5em;
    }

    .search-form {
      background: #fff;
    }

    .search-inputs {
      background: #fff;
      margin: 2em 0 3em 0;
      padding: 0!important;
    }

    .search-inputs button {
      width: 100%;
      height: 3em;
      background: none;
      border: 1px solid #fd7e14;
      border-radius: 4px;
      color: #fd7e14;
      margin-top:2em;
      cursor: pointer;
      transition: all 0.25s;
    }

    .search-inputs button:hover {
      background: #fd7e14;
      color: #fff;
    }

    .search-input-name {
      text-transform: uppercase;
      color: #1d1d1d;
      margin-bottom: 0.5em;
      font-weight: 700;
      letter-spacing: 0.5px;
    }

    .search-input input {
      padding: 0.5em 1em;
      height: 3em;
      width: 98%;
      border-radius: 4px;
      border: 1px solid rgb(179, 179, 179);
    }

    .search-input input::placeholder, .placeholder {
      font-style: italic;      
    }