<footer>
    <div class="container">
        <div id="footer_links" class="row text-muted text-center">
            <div class="col-4">
                <h6>Sitemap</h6>
                <a href="#body">Landing Page</a>
                <br>
                <a href="#ct_portfolio">Home</a>
                <br>
                <a href="#aboutme">Login</a>
                <br>
                <a href="#contactme">Register</a>
                <br>
                <a href="#footer">About</a>
                <br>
                <a href="#footer">Contact</a>
            </div>
            <div class="col-4">
                <h6>Other Resources</h6>
                <a target="_blank" href="https://code.visualstudio.com/">ASC</a>
                <br>
                <a target="_blank" href="https://www.adobe.com/CreativeCloud">Slam Magazine</a>
                <br>
                <a target="_blank" href="https://getbootstrap.com/">Thrasher Magazine</a>
                <br>
                <a target="_blank" href="https://www.atlassian.com/">The Berrics</a>
            </div>
            <div class="col-4">
                <h6>Social</h6>
                <a class="ct_link" target="_blank" href="https://github.com/BL4CK1E">
                    <i class="ct_link fab fa-github-square fa-2x mx-1"></i>
                </a>
                <a class="ct_link" target="_blank" href="https://www.youtube.com/channel/UCwLoQIlUhVIIfS7bwI7iGtA">
                    <i class="ct_link fab fa-youtube-square fa-2x mx-1"></i>
                </a>
                <a class="ct_link" target="_blank" href="https://www.linkedin.com/in/ctalke/">
                    <i class="ct_link fab fa-facebook-square fa-2x mx-1"></i>
                </a>
            </div>
        </div>
        <div class="row text-center">
            <div class="my-3 col-12 text-white">
                <span class="text-muted">© Copyright 2018 ASCi. All Rights Reserved</span>
            </div>
        </div>
    </div>

    <!-- Bootstrap Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</footer>

</body>

</html>