<nav class="navbar navbar-dark orange-bg text-white justify-content-between">
    <div class="container">

        <a href="/" class="navbar-brand">
            <h1 class="m-0 p-0 evntr_logo"> evntR.io
            </h1>
        </a>


        <div>
            <a class="pb-2 evntr_btn" href="/login" role="button">Login</a>
            <a class="pb-2 evntr_btn" href="/register" role="button">Register</a>
            <a class="pb-2 evntr_btn" href="/addEvent" role="button">Add Event</a>
        </div>

    </div>
</nav>