<nav class="navbar navbar-dark text-white bg-dark justify-content-between">
    <div class="container">

        <a class="navbar-brand">
            <h5 class="">
                yelp/Skate
            </h5>
        </a>

        <a class="form-inline" href="/login">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Login</button>
        </a>

    </div>
</nav>