<nav class="navbar text-white justify-content-between">
    <div class="container">

        <a href="/" class="navbar-brand">
            <h1 class="m-0 p-0 evntr_logo"> evntR.io
            </h1>
        </a>

        <div>
            <% if (user) { %>
                <a class="pb-2 evntr_btn" href="/add" role="button">Add Event</a>
                <a class="pb-2 evntr_btn" href="/logout" role="button">Logout</a>
            <% } %>
            <a class="pb-2 evntr_btn" href="/" role="button">Contact</a>
        </div>

    </div>
</nav>