<div id="statistics" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-4 text-center">
                <p class="statistics_sum_head display-4">500</p>
                <hr>
                <p class="statistics_sum_sub">Active Events</p>
            </div>
            <div class="col-sm-12 col-lg-4 text-center">
                <p class="statistics_sum_head display-4">2,700</p>
                <hr>
                <p class="statistics_sum_sub">Active Users</p>
            </div>
            <div class="col-sm-12 col-lg-4 text-center">
                <p class="statistics_sum_head display-4">320,000</p>
                <hr>
                <p class="statistics_sum_sub">Tickets Sold</p>
            </div>        
        </div>
    </div>
</div>